
*, *::before, *::after{
    box-sizing: border-box;
}

@keyframes loading{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: solid 2px;
    border-color: #888 transparent;
    border-radius: 50%;
    animation: loading .8s ease infinite;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buttons > * {
    margin-right: 8px;
}

.tweet_button_wrapper {
    height: 20px;
}

.friends_list{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    list-style: none;
}

.friends_list a{
    text-decoration: none;
    color: inherit;
}

.friends_list a:hover{
    text-decoration-line: underline;
}

.friend_item{
    width: 200px;
    margin: 4px;
    padding: 2px;
    background-color: #fff;
    border: solid 1px #888;
}

.atcoder_name{
    font-weight: bold;
}

.user_icon_area{
    position: relative;
    width: auto;
}

.user_icon {
    width: 100%;
}

.rating{
    position: absolute;
    right:0;
    bottom:0;
    background-color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.rank_black  .atcoder_name { color: black; }
.rank_black  .rating       { color: black; }
.rank_gray  .atcoder_name { color: #666; }
.rank_gray  .rating       { color: #666; }
.rank_brown  .atcoder_name { color: brown; }
.rank_brown  .rating       { color: brown; }
.rank_green  .atcoder_name { color: green; }
.rank_green  .rating       { color: green; }
.rank_cyan   .atcoder_name { color: rgb(115, 185, 255); }
.rank_cyan   .rating       { color: rgb(115, 185, 255); }
.rank_blue   .atcoder_name { color: blue; }
.rank_blue   .rating       { color: blue; }
.rank_yellow .atcoder_name { color: yellow; text-shadow: 0 1px 1px black}
.rank_yellow .rating       { color: yellow; text-shadow: 0 1px 1px black}
.rank_orange .atcoder_name { color: orange; }
.rank_orange .rating       { color: orange; }
.rank_red    .atcoder_name { color: red; }
.rank_red    .rating       { color: red; }
