<!DOCTYPE html>
<html>
<head>
  <title>AtCoder Friend Finder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>AtCoder Friend Finder</h1>
  <h2>説明</h2>
  <p>TwitterでフォローしているAtCoderユーザを表示します。</p>
  <p>データ取得日: 2020-03-15</p>
  <p><a href="https://github.com/mui-nyan/AtCoder-Friend-Finder">GitHub</a></p>
  {% if authorized == False %}
    <input type="hidden" class="authorized" value="false">
    <p>はじめにTwitterにログインしてください。</p>
    <p><a href="{{ url_for('twitter_auth') }}">Sign in with Twitter</a></p>
  {% endif %}
  <h2>制限事項</h2>
  <ul>
    <li>AtCoderのプロフィールに書いてあるTwitterIDを無条件に信頼します。</li>
    <li>フォロー数が多すぎる場合、取得しきれないかもしれません。</li>
    <li>取得できない場合、API使用回数制限の可能性があります。15分くらい待ってから試してください。</li>
  </ul>
  {% if authorized %}
    <input type="hidden" class="authorized" value="true">
    <h2>フレンドを探す</h2>
    <p>@{{ screen_name }} さんとしてログイン中 <a href="{{ url_for('logout') }}">ログアウト</a></p>
    <p>下のボタンでフレンド検索を実行します。</p>
    <button class="find_button">フレンドを探す</button>
    <ul class="friends_list"></ul>
    <div class="tweet_button_wrapper">
    </div>
  {% endif %}
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script>
    const URL_FOR_FIND_FRIENDS = "{{ url_for('find_friends') }}"
  </script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };

    return t;
  }(document, "script", "twitter-wjs"));</script>
</body>
</html>
