<!DOCTYPE html>
<html>
<head>
  <title>AtCoder Friend Finder</title>
</head>
<body>
  <h1>AtCoder Friend Finder</h1>
  {% if authorized == False %}
    <p><a href="{{ url_for('twitter_auth') }}">Sign in with Twitter</a></p>
  {% else %}
    <!-- 取得した timeline のテキストを表示 -->
    <ul>{% for user in users %}
      <li>
        <span><a href="https://atcoder.jp/users/{{ user.atcoder_id }}">{{ user.atcoder_id }}</a></span>
        <span><a href="https://twitter.com/{{ user.twitter_id }}">{{ user.twitter_name }} @{{ user.twitter_id }}</a></span>
      </li>
    {% endfor %}</ul>
    [Tweet]
  {% endif %}
</body>
</html>
